#posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Chaque post */
.post {
    background-color: #aaaaaa;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 30px;
    box-shadow:  5px 5px 8px #444444, -5px -5px 8px #ffffff;
    width: 70%;
}
/* En-tête du post, du commentaire */
.post-header, .comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.user-info {
    display: flex;
    align-items: center;
}
.post-header .avatar, .comment-header .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow:  5px 5px 8px #444444,
             -5px -5px 8px #ffffff;
    object-fit: cover;
    margin-right: 10px;
}
.post-header .username, .comment-header .username {
    font-weight: bold;
    font-size: 1.2em;
}
.post-header .timestamp, .comment-header .timestamp {
    color: #777;
    font-size: 0.9em;
    font-style: italic;
}
/* Contenu du post, du commentaire */
.post-content p, .comment-content p {
    margin: 10px 0;
}
.post-content .post-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}
/* Style des types de posts */
.post-type {
    font-weight: bold;
    color: #ff6f61;
}
/* Actions des posts, des commentaires */
.post-actions, .comment-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    gap: 5px;
}
/* Post responsive */
@media (max-width: 500px) {
  .post {
    width: 90%;
  }
}
.toggle-comments, .comment-actions button, .submit-comment, .reply-form button {
    padding: 5px 8px;
    border: none;
    border-radius: 30px;
    background-color: #a0e45cef;
    box-shadow:  5px 5px 8px #444444, -5px -5px 8px #ffffff;
    cursor: pointer;
    font-size: 0.8rem;
    transition: all 0.2s ease-in-out;
}
.toggle-comments:hover, .comment-actions button:hover, .submit-comment:hover, .reply-form button:hover {
    box-shadow: inset 5px 5px 8px #444444, inset -5px -5px 8px #ffffff;
    background-color: #4CAF50;
    color: #000;
}
/* Commentaires */
.hidden {
  display: none !important;
}
.comments-section {
  margin-top: 10px;
  border-top: 2px solid #ddd;
  padding-top: 10px;
}
.comments-container {
  display: flex;
  flex-direction: column;  
}
/* Un seul commentaire */
.comment {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 30px;
    background: #aaaaaa;
    box-shadow: inset 5px 5px 8px #444444, inset -5px -5px 8px #ffffff;
}
.add-comment, .reply-form-container {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 30px;
    background: #aaaaaa;
    box-shadow:  5px 5px 8px #444444, -5px -5px 8px #ffffff;
    display: flex;
    justify-content: space-between;
}
.add-comment textarea, .reply-form textarea {
  width: 70%;
  padding-left: 8px;
  padding-top: 5px;
  border: none;
  outline: none;
  border-radius: 30px;
  background: #aaaaaa;
  box-shadow:  5px 5px 10px #444444, -5px -5px 10px #ffffff;
  transition: all 0.3s ease;
  resize: none;
}
/* Effet lorsque le textarea est actif (focus) */
.add-comment textarea:focus, .reply-form textarea:focus {
  background: linear-gradient(145deg, #b6b6b6, #999999);
  box-shadow:  5px 5px 0px #444444, -5px -5px 0px #ffffff;
}
/* Commentaires responsive */
@media (max-width: 500px) {
  .add-comment, .reply-form-container {
    flex-direction: column;
    gap: 15px;
  }
  .add-comment textarea, .reply-form textarea {
    width: 100%;
    margin-left: -5px;
    resize: vertical;
  }
}
/* Style boutons like / dislike / love */
.reaction {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  margin: 0 10px;
}
.reaction-checkbox {
  display: none; /* On cache le vrai input */
}
.reaction-icon {
  padding: 10px;
  border-radius: 50%;
  background: #a0e45cef;
  box-shadow:  5px 5px 8px #444444, -5px -5px 8px #ffffff;
  transition: all 0.2s ease;
}
.reaction-checkbox:checked + .reaction-icon {
  box-shadow: inset 5px 5px 8px #444444, inset -5px -5px 8px #ffffff;
  transform: scale(1.1);
  background: #4CAF50;
}
/* Style appliqué lorsque la case est désactivée */
.reaction.disabled-reaction {
  cursor: not-allowed;
  opacity: 0.5;
}
/* Style pour l'animation */
.particle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.particle {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 1;
    transition: transform 0.6s ease, opacity 0.6s ease;
}
/* Style pour la modale de l'image */
.modal {
    display: none;          
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;            
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}
.modal-content {
    max-width: 100%;           
    max-height: auto;        
    object-fit: contain;
}
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
