#friends-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 20px 0 20px;
}
.filter-sort {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 15px;
}
@media (max-width: 430px) {
    .filter-sort {
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
}
/* Barre de recherche */
.research input {
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    background-color: #aaaaaa;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5), -3px -3px 6px rgb(255, 255, 255);
    width: 200px;
    font-size: 14px;
    transition: box-shadow 0.3s ease;
}
.research input:focus {
    outline: none;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5), -6px -6px 12px rgb(255, 255, 255);
}
/* Style du sélecteur de tri */
#sort-select {
    padding: 8px 15px;
    border-radius: 20px;
    background-color: #aaaaaa;
    border: none;
    font-size: 14px;
    color: #333;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5), -3px -3px 6px rgb(255, 255, 255);
    transition: box-shadow 0.3s ease;
}
#sort-select:hover {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5), -6px -6px 12px rgb(255, 255, 255);
}

/* Conteneur des amis */
#friends-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px;
    margin-top: 20px;
}
/* Carte d'ami */
.friends-card {
    background-color: #aaaaaa;
    border-radius: 20px;
    padding: 20px;
    box-shadow:  5px 5px 10px #444444, -5px -5px 10px #ffffff;
    display: flex;
    gap: 15px;
    cursor: move;
}
/* Effet de survol de la carte d'ami */
.friends-card:hover {
    box-shadow: inset 5px 5px 10px #444444, inset -5px -5px 10px #ffffff;
}
/* Avatar de l'ami */
.friends-card .avatar {
    width: 80px;
    height: 80px;
    border-radius: 9999px;
    overflow: hidden;
    box-shadow:  5px 5px 10px #444444, -5px -5px 10px #ffffff;
}
.friends-card .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Informations de l'ami */
.friends-card .infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Nom de l'ami */
.friends-card .name {
    display: flex;
    gap: 5px;
}
.friends-card .name p {
    margin: 0;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
/* Actions de la carte (boutons) */
.friends-card .actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.friends-card .actions button {
    padding: 4px 8px;
    border: none;
    border-radius: 20px;
    background-color: #a0e45cef;
    color: #333;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow:  5px 5px 10px #444444, -5px -5px 10px #ffffff;
}
/* Effet de survol des boutons */
.friends-card .actions button:hover {
    background: #4CAF50;
    box-shadow:  5px 5px 10px #444444, -5px -5px 10px #ffffff;
}
.friends-card .actions button:active {
    background-color: #4CAF50;
    box-shadow: inset 5px 5px 10px #444444, inset -5px -5px 10px #ffffff;
}
/* Responsive pour les petits écrans */
@media (max-width: 380px) {
  #friends-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  .friends-card {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 15px;
    width: 100%; 
    box-sizing: border-box;
  }
  .friends-card .infos {
    text-align: center;
  }
  .friends-card .name {
    flex-direction: column;
    gap: 5px;
  }
  .friends-card .actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
  }
  .friends-card .actions button {
    font-size: 14px;
    padding: 8px;
  }
}

