/* Style général de la page */
body {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #aaaaaa;
    color: #000;
    margin: 0;
    padding: 0;
    width: 100%;
}
/* Menu principal */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #a0e45cef;
    padding: 25px;
    height: auto;
    box-shadow:  5px 5px 8px #444444, -5px -5px 8px #ffffff;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
/* Titre et slogan */
.menu-header h1 {
    font-size: 2rem;
    color: #000000;
    margin: 0;
    font-weight: bold;
    text-shadow: 3px 3px 5px #444444, -3px -3px 5px #ffffff;
}
.menu-header p {
    font-size: 1rem;
    margin: 5px 0 20px;
    font-style: italic;
}
/*  Navigation */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    background-color: #a7e667;
    padding: 10px 20px;
    border-radius: 70px;
    font-size: 16px;
    font-weight: bold;
    box-shadow:  5px 5px 8px #444444, -5px -5px 8px #ffffff;
    transition: all 0.2s ease-in-out;
}
/* Effet au survol des liens */
.nav-links a:hover {
    box-shadow: inset 5px 5px 8px #444444, inset -5px -5px 8px #ffffff;
}
.profile {
    display: flex;             
    align-items: center;         
    gap: 10px;                   
    text-decoration: none;       
    font-weight: bold;           
}
/* Lien actif */
.nav-links a.active {
    color: #fff; 
    background-color: #4CAF50;
    border-radius: 70px;
    box-shadow: inset 5px 5px 8px #444444, inset -5px -5px 8px #ffffff;
}
/* Menu responsive */
@media (max-width: 840px) {
    .menu {
       flex-direction: column; 
       padding: 15px;
       margin: 0;
       text-align: center;
    }
    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding-left: 0;
    }
}
/* Contenu principal */
.main-content {
    margin-top: 140px;
    padding: 20px;
}
/* Contenu principal responsive */ 
@media (max-width: 840px) {
    .main-content {
        margin-top: 180px;
    }
}
@media (max-width: 520px) {
    .main-content {
        margin-top: 240px;
    }
}
/* Footer */ 
.footer {
    background-color: #a0e45c;
    box-shadow:  5px 5px 8px #444444, -5px -5px 8px #ffffff;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px;
    text-align: center;
}
.footer p {
    font-size: large;
}
