/* Style général de la page */
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #d4d4d4;
    color: #000;
    margin: 0;
    padding: 0;
}
/* Menu principal */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #a7e667ef;
    padding: 25px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2),
                inset -5px -5px 10px rgb(255, 255, 255);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Titre et slogan */
.menu-header h1 {
    font-size: 2rem;
    color: #000000;
    margin: 0;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397),
                 -2px -2px 5px rgb(255, 255, 255);
}
.menu-header p {
    font-size: 1rem;
    color: #3d3d3d;
    margin: 5px 0 20px;
    font-style: italic;
}
/*  Navigation */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-links a {
    text-decoration: none;
    color: #333;
    background-color: #a7e667;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.473),
                -5px -5px 15px rgb(255, 255, 255);
    transition: all 0.2s ease-in-out;
}
/* Effet au survol des liens */
.nav-links a:hover {
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.3),
                inset -5px -5px 15px rgb(255, 255, 255);
}
.profile {
    display: flex;             
    align-items: center;         
    gap: 10px;                   
    text-decoration: none;       
    font-weight: bold;           
}
/* Lien actif */
.nav-links a.active {
    color: #fff; 
    background-color: #4CAF50;
    border-radius: 10px;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.445),
                inset -5px -5px 15px rgb(255, 255, 255);
}
/* Menu responsive */
@media (max-width: 840px) {
    .menu {
       flex-direction: column; 
       padding: 15px;
       text-align: center;
    }
    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        padding-left: 0;
    }
    
}